export PULP_BRANCH_FILE=/home/rfriedma/ntry/pulp/branches.txt
export PULP_URL_TEMPLATE='https://pulpito-ng.ceph.com/runs?branch={branch}'
export PULP_HOST=127.0.0.1
export PULP_PORT=8000
export PULP_ROW_HEIGHT=520
export PULP_REFRESH_SECONDS=0
export PULP_REQUEST_TIMEOUT=20